/* CSS Root */

:root {
  --main-bg-color: #f4f4f4;
  --main-text-color: #333;
  --dark-bg-color: #282828;
  --nav-text-color: #fff;
  --highlight-color: #f44336;
  --undertext-color: #9b9191;
}

/* Global */

body {
  font-family: 'Lato', 'Helvetica Neue', sans-serif;
  background-color: var(--main-bg-color);
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.undertext {
  font-size: 16px;
  font-style: italic;
  color: var(--undertext-color);
  font-weight: bold;
}

.btn {
  background-color: var(--dark-bg-color);
  color: #fff;
  font-size: 16px;
  margin: 10px 15px;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

/* Header & Navbar */

header {
  min-height: 70px;
  background-color: var(--dark-bg-color);
  overflow: hidden;
}

header nav ul {
  display: flex;
  list-style: none;
  align-items: center;
}

header nav ul li {
  padding-right: 50px;
}

header a {
  text-decoration: none;
  color: var(--nav-text-color);
  text-transform: uppercase;
}

/* Showcase */

#showcase {
  min-height: 400px;
  background: url('../img/concerts/ny.jpg') no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  text-align: center;
}

#showcase h3 {
  color: #fff;
  font-size: 20px;
  margin-bottom: 2px;
}

#showcase p {
  color: #fff;
  font-style: italic;
  font-size: 13px;
  margin-top: 5px;
}

/* Band */

#band {
  padding: 50px auto;
  margin-bottom: 40px;
}

#band .band-info {
  text-align: center;
}

#band h1 {
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 5px;
  letter-spacing: 3px;
}

#band img {
  width: 120px;
  border-radius: 6px;
}

#band .members {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 100px;
}

/* Tours */

#tours {
  min-height: 100vh;
  background-color: var(--dark-bg-color);
  padding: 40px 20px;
  color: #fff;
}

#tours img {
  width: 100%;
  object-fit: cover;
}

#tours h2 {
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align: center;
  margin-bottom: 5px;
}

#tours p.undertext {
  text-align: center;
}

.tours-form {
  background-color: #fff;
  margin-bottom: 40px;
  width: 1080px;
}

.tours-form input {
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #ffdada;
}

.tour-cities {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.tour-cities .tour-city {
  background-color: #fff;
  color: var(--dark-bg-color);
  width: 33%;
}

.tour-city h4,
.tour-city p {
  font-size: 18px;
  color: var(--dark-bg-color);
  font-weight: bold;
  margin-left: 15px;
}

.tour-city p {
  font-size: 14px;
}

/* Contact */

#contact h2 {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
}

#contact p.undertext {
  text-align: center;
}

.contact-info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 50px 20px;
}

.contact-info i {
  margin-bottom: 30px;
}

.contact-form input,
.contact-form textarea {
  padding: 5px;
  margin-bottom: 5px;
  width: 100%;
}

/* Footer */

footer {
  text-align: center;
  padding: 50px;
}

.socials i {
  margin-left: 15px;
  font-size: 24px;
  color: #908e8e;
}

footer a {
  text-decoration: underline;
  color: var(--main-text-color);
}
